# Database Configuration
DATABASE_URL="postgresql://postgres:enterPassHere@localhost:enterPortHere/db_name?schema=public"

# PostgreSQL
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=db_name

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# RedisInsight (Optional - for Redis UI)
REDISINSIGHT_PORT=

# PgAdmin (Optional - for PostgreSQL UI)
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# APP security
JWT_SECRET=
SEED_ADMIN_PASSWORD=



